.radiobox {align-items: center; display: inline-flex;}
.radiobox__input {-moz-appearance: none; -webkit-appearance: none; appearance: none; background-color: var(--color-white); border: 1px solid var(--color-bg-dark-light); border-radius: 50%; cursor: pointer; height: 14px; margin: 0; position: relative; transition: all var(--transition-fast); width: 14px;}
.radiobox__input:checked {background-color: #fff; border-color: var(--color-text-555);}
.radiobox__input:checked::after {background-color: var(--color-text-555); border-radius: 50%; content: ''; height: 6px; left: 50%; position: absolute; top: 50%; transform: translate(-50%, -50%); width: 6px;}
.radiobox__input:hover:not(:disabled) {border-color: var(--color-text-555);}
.radiobox__input:disabled {cursor: not-allowed; opacity: 0.5;}
.radiobox__label {align-items: center; color: var(--color-text-tertiary); cursor: pointer; display: flex; gap: 6px; user-select: none;}
.radiobox__label:has(.radiobox__input:checked) {color: var(--color-text-555);}
.radiobox__label:has(.radiobox__input:disabled) {cursor: not-allowed; opacity: 0.5;}
.radiobox__label-text {font-size: var(--font-size-base); line-height: 1;}
