/* SearchCondition Component Styles */
.search-panel__title {align-items: center; display: flex; gap: 4px; padding: 5px 0px;}
.search-panel__title h2 {color: #222; cursor: pointer; font-size: 13px; font-weight: 500;}
.search-panel__title .button-wrap {margin-left: auto;}
.search-panel__toggle {background: url('/images/Search_arr_off.png') no-repeat center; background-size: 9px; border: none; cursor: pointer; flex-shrink: 0; height: 18px; padding: 0; transition: transform 0.2s ease; width: 18px;}
.search-panel__toggle--collapsed {transform: rotate(180deg);}
.search-panel__body {border-bottom: 1px solid #EBEBEB; border-top: 1px solid #EBEBEB; container-type: inline-size; max-height: 1000px; overflow: hidden; padding: 12px 0; transition: max-height 0.3s ease, padding 0.3s ease, border 0.3s ease;}
.search-panel__body--collapsed {border-top: none; max-height: 0; padding: 0;}
.search-panel__row {display: grid; margin-bottom: 6px;}
.search-panel__row:last-child {margin-bottom: 0;}
.search-panel__row.grid--cols-2 {gap: 6px; grid-template-columns: repeat(2, 1fr);}
.search-panel__row.grid--cols-3 {gap: 6px; grid-template-columns: repeat(3, 1fr);}
.search-panel__row.grid--cols-4 {gap: 6px; grid-template-columns: repeat(4, 1fr);}
.search-panel__row.grid--cols-5 {gap: 6px; grid-template-columns: repeat(5, 1fr);}
.search-panel__row.grid--cols-6 {gap: 6px; grid-template-columns: repeat(6, 1fr);}
.search-panel__col {align-items: center; display: flex;}
.search-panel__label {align-items: center; display: flex; flex-shrink: 0; margin-right: 10px; width: var(--label-width, 70px);}
/*[lang="en"] .search-panel__label {--label-width: 120px;}
[lang="ko"] .search-panel__label {--label-width: 70px;}
[lang="ja"] .search-panel__label {--label-width: 90px;}
[lang="zh"] .search-panel__label {--label-width: 80px;}*/
.search-panel__field {align-items: center; display: flex; flex-wrap: wrap; gap: 6px;}

.search-panel__data--auto {width: auto;}
@media (max-width: 1540px) {.search-panel__field .search-panel__data {width: 170px;}}
@container (max-width: 1440px) {
    .search-panel__row.grid--cols-2,
    .search-panel__row.grid--cols-3,
    .search-panel__row.grid--cols-4,
    .search-panel__row.grid--cols-5,
    .search-panel__row.grid--cols-6 {
        gap: 6px;
        grid-template-columns: repeat(1, 1fr);
    }
}
